.fixed-action-btn {
  
}

.toc-menu-navbar {
  right: 10px;/*desired value*/
  top: 74px;

}
.toc-menu-absolute {
  right: 10px;/*desired value*/
  top: 10px;
}
.btn-floating {
  @extend .z-depth-2;
}

.toc-main {
  background-color: $primary_color;
}
.toc-main :hover {

}
.toc-main i {
  font-size: 1.5em;
}

#toc-menu li {
  display: inline-block;
} 
.menu-item-text {
  font-weight: 600;
  color: #120142
}